<ion-view view-title="Sensor View">
  <ion-nav-buttons side="right">
      <x-nr-status-icon></x-nr-status-icon>
   </ion-nav-buttons>
  <ion-content class="padding">
    <svg id="k9sensors" width="100%" viewBox="0 0 2400 2400"></svg>
  </ion-content>
</ion-view>
<!--
        K9 Dimensions vs viewBox of 640 x 1136

        Overall screen at 2400 x 2400 is precisely 2.4m x 2.4m
        1mm = 1pt

        There is a necessary translation between the screen view that is
        represented by the SVG file and the dog's own co-ordinates
        that are designed to keep the maths simple.


--!>
