<ion-view view-title="Motor Controller">
  <ion-nav-buttons side="right">
      <x-nr-status-icon></x-nr-status-icon>
   </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
<section class = "motor-controller">
  <div class = "row screen-row">
    <div class = "col text-center">
		<img id="mjpeg_dest" onload="setTimeout('init();', 100);" src="img/K9-Camera-Image.png"
width="256" height="144" alt="K9 camera"></img>
    </div>
  </div>
  <div class = "row joystick-row">
    <div class = "col text-center">
    <joystick position="position"></joystick>
    </div>
  </div>
    <div class = "row output-row">
    <div class = "col text-center">
      Motor L
    </div>
    <div class = "col text-center">
      Motor R
    </div>
  </div>
      <div class = "row output-row">
    <div class = "col text-center font-size-large"  >
    <h3><b>{{ getRound(k9.left) }}</b></h3>
    </div>
    <div class = "col text-center">
    <h3><b>{{ getRound(k9.right) }}</b></h3>
    </div>
  </div>
</section>
  </ion-content>
</ion-view>
