<ion-view view-title="On/Off Controller">
  <ion-nav-buttons side="right">
      <x-nr-status-icon></x-nr-status-icon>
   </ion-nav-buttons>
  <ion-content class="padding">
     <ul class="list">


        <li class="item item-toggle">
        Eye Brightness
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="dogstatus.eyes" ng-true-value="'on'" ng-false-value="'off'" ng-change="changeEyes()">
            <div class="track">
               <div class="handle"></div>
            </div>
          </input>
        </label>
        </li>
      <div class="item range range-balanced">
          <i class="icon ion-lightbulb"></i>
            <input type="range" ng-model="dogstatus.eyes" ng-change="setEyesPWM()" name="eyes" min="0" max="100" step="1">
            </input>
          <i class="icon ion-ios-lightbulb-outline"></i>
      </div>

     <li class="item item-toggle">
      Tail Up/Down
      <label class="toggle toggle-balanced">
        <input type="checkbox"  ng-model="dogstatus.tail" ng-true-value="'up'" ng-false-value="'down'" ng-change="changeTail()">
        <div class="track">
          <div class="handle"></div>
        </div>
        </input>
      </label>
     </li>
      <div class="item range range-balanced">
        <i class="icon ion-arrow-up-a"></i>
        <input type="range" ng-model="dogstatus.pwmverttail" ng-change="setTailVPWM()" name="tailvertical" min="270" max="370" step="5">
                 </input>
        <i class="icon ion-arrow-down-a"></i>
      </div>


      <li class="item item-toggle">
       Tail Left/Right
       <label class="toggle toggle-balanced">
         <input type="checkbox"  ng-model="dogstatus.tailh" ng-true-value="'left'" ng-false-value="'right'" ng-change="changeTailH()">
         <div class="track">
           <div class="handle"></div>
         </div>
         </input>
       </label>
      </li>
       <div class="item range range-balanced">
         <i class="icon ion-arrow-left-a"></i>
         <input type="range" ng-model="dogstatus.pwmhoriztail" ng-change="setTailHPWM()" name="tailhorizontal" min="270" max="370" step="5">
                  </input>
         <i class="icon ion-arrow-right-a"></i>
       </div>


       <li class="item item-toggle">
        Hover brightness
        <label class="toggle toggle-balanced">
          <input type="checkbox"  ng-model="dogstatus.hover" ng-true-value="'on'" ng-false-value="'off'" ng-change="changeHover()">
          <div class="track">
            <div class="handle"></div>
          </div>
          </input>
        </label>
       </li>
        <div class="item range range-balanced">
          <i class="icon ion-lightbulb"></i>
          <input type="range" ng-model="dogstatus.hover" ng-change="setHoverPWM()" name="hover" min="270" max="370" step="5">
                   </input>
          <i class="icon ion-ios-lightbulb-outline"></i>
        </div>


      </ul>
      <ion-toggle
      ng-model="k9.lights"
      ng-checked="k9.lights"
      ng-change="changeLights(k9.lights)"
      id="lights">
      Back panel lights
      </ion-toggle>
      <ion-toggle
      ng-model="k9.screen"
      ng-checked="k9.screen"
      id="screen"
      ng-change="changeScreen(k9.screen)">
      Side monitor
      </ion-toggle>
  </ion-content>
</ion-view>
