<ion-view view-title="Audio Controller">
  <ion-nav-buttons side="right">
      <x-nr-status-icon></x-nr-status-icon>
   </ion-nav-buttons>
  <ion-content class="padding">
    <ion-grid>
    <ion-row>
    <ion-col col-6>
    <button id="wake_up" ng-click="buttonClick($event)" class="button button-balanced">All systems operational</button>
    </ion-col>
    <ion-col>
    <button id="sad" ng-click="buttonClick($event)" class="button button-balanced">Apologies master</button>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-6>
    <button id="scanning" ng-click="buttonClick($event)" class="button button-balanced">Scanning area</button>
    </ion-col>
    <ion-col>
    <button id="sleep" ng-click="buttonClick($event)" class="button button-balanced">Conserving battery power</button>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-6>
    <button id="thanks" ng-click="buttonClick($event)" class="button button-balanced">Thanks are not necessary</button>
    </ion-col>
    <ion-col>
    <button id="home" ng-click="buttonClick($event)" class="button button-balanced">Welcome home master</button>
    </ion-col>
    </ion-row>
    <ion-grid>
  </ion-content>
</ion-view>
