<ion-view view-title="Motor Controller">
  <ion-nav-buttons side="right">
      <x-nr-status-icon></x-nr-status-icon>
   </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
<section class = "motor-controller">
  <div class = "row screen-row">
    <div class = "col text-center">
		<img id="mjpeg_dest" onload="setTimeout('init();', 100);" src="img/K9-Camera-Image.png"
width="256" height="144" alt="K9 camera"></img>
    </div>
  </div>
  <div class = "row joystick-row">
    <div class = "col text-center">
    <joystick position="position"></joystick>
    </div>
  </div>
   <div class = "row output-row">
    <div class = "col-25 text-center">
      Left Speed
    </div>
    <div class = "col-50 text-center">
    </div>
    <div class = "col-25 text-center">
      Right Speed
    </div>
    </div>
      <div class = "row output-row">
    <div class = "col-25 text-center"  >
    {{ getMPH(k9.left) }}
    </div>
        <div class = "col-50">
    <ion-toggle
      ng-model="k9.motorctrl"
      ng-checked="k9.motorctrl"
      ng-change="changeMotorCtrl(k9.motorctrl)"
      id="motorctrl"
      toggle-class="toggle-balanced"
      class="toggle-large"
      >
      Turbo
      </ion-toggle>
    </div>
    <div class = "col-25 text-center">
    {{ getMPH(k9.right) }}
  </div>
</section>
  </ion-content>
</ion-view>
